<div class="card mb-2" (click)="viewCity(city.woeid)">
  <img class="card-img-top pt-5 img-fluid" src="https://www.metaweather.com/static/img/weather/{{city.weather.weather_state_abbr}}.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-center current-temp">{{city.weather.the_temp | number:'1.0-0'}}°C</h5>
    <div class="row">
      <div class="col-6 small-temperature">
        Min : {{city.weather.min_temp | number:'1.0-0'}}°C
      </div>
      <div class="col-6 text-right small-temperature">
        Max : {{city.weather.max_temp | number:'1.0-0'}}°C
      </div>
    </div>
  </div>
  <div class="card-footer text-center text-muted">
    <div class="city-name">
        {{city.name}}
    </div>
    <div class="day">
      {{city.date}}
    </div>
  </div>
</div>
