<div class="row" *ngIf="!isLoading">
  <div class="col-md-4" *ngFor="let city of citiesData">
    <app-weather
    [city]="city"></app-weather>
  </div>
</div>

<div class="row " *ngIf="isLoading">
  <div class="col-md-12 text-center px-auto">
      <i class="fa fa-spin fa-cog fa-4x"></i>
  </div>
</div>
