<div class="row">
  <div class="col-md-4">
      <button type="button" class="btn btn-outline-primary my-2 my-sm-0 pull-right mr-5" (click)="goHome()">Home</button>
  </div>
  <div class="col-md-8 ml-auto pr-0">
    <nav class="navbar navbar-light ">
      <div class="form-inline ml-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchString">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="search()">Search</button>
      </div>
    </nav>
  </div>
</div>
