<div class="container mb-4" *ngIf="cityData">
  <div class="card">
    <div class="card-body px-5 py-5">
        <h5 class="card-title text-center">{{cityData.title}}</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="card py-5">
              <img class="card-img-top img-fluid" src="https://www.metaweather.com/static/img/weather/{{cityData.consolidated_weather[0].weather_state_abbr}}.svg"
              alt="Card image cap">
          </div>
        </div>
        <div class="col-md-6 pt-3">
          <div class="row">
            <strong>Country : &#160;</strong> {{cityData.parent.title}}
          </div>
          <div class="row">
            <strong>Weather State : &#160;</strong> {{cityData.consolidated_weather[0].weather_state_name}}
          </div>
          <div class="row">
            <strong>Min : &#160;</strong> {{cityData.consolidated_weather[0].min_temp}}°C
          </div>
          <div class="row">
            <strong>Max : &#160;</strong> {{cityData.consolidated_weather[0].max_temp}}°C
          </div>
          <div class="row">
            <strong>Humidity : &#160;</strong> {{cityData.consolidated_weather[0].humidity}} %
          </div>
          <div class="row">
            <strong>Visibility : &#160;</strong> {{cityData.consolidated_weather[0].visibility}} miles
          </div>
          <div class="row">
            <strong>Pressure : &#160;</strong> {{cityData.consolidated_weather[0].air_pressure}}mb
          </div>
          <div class="row">
            <strong>Confidence : &#160;</strong> {{cityData.consolidated_weather[0].predictability}} %
          </div>
          <div class="row">
            <strong>Applicable Date : &#160;</strong> {{cityData.applicable_date}}
          </div>
          <div class="row">
            <strong>Time Zone : &#160;</strong> {{cityData.timezone}}
          </div>
        </div>
      </div>

    </div>
    <div class="card-footer text-center text-muted">
       Data for 6 days from now are shown below
      </div>
  </div>
</div>

<div class="container mb-4">
  <app-results-box [cities]="citiesData"></app-results-box>
</div>
